{
    "presets": [
        [
            "@babel/preset-env",
            {
                "debug": true,
                "spec": true,
                "modules": false,
                "useBuiltIns": "usage",
                "targets": {
                    "node": "10.3.0"
                }
            }
        ]
    ]
}
