{
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-object-rest-spread",
    "transform-async-generator-functions",
    "transform-do-expressions",
    "transform-function-bind",
    "transform-react-jsx",
    "syntax-dynamic-import"
  ]
}
