<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>

  <title>
    <%= title %>
  </title>
</head>

<body class="sans">
  <section id="container"></section>

  <section>
    <h1>Todos</h1>

    <ul id="gunlist"></ul>

    <form>
      <input>
      <button>Add</button>
    </form>
  </section>
</body>

</html>
