.todos {
    & > li {
        display: flex;
    }

    & > li > span {
        margin-right: auto;
    }

    & .todo--done > span {
        color: grey;
        text-decoration: line-through;
    }
}
