@import "global.css";

.elementTest__divWithBg {
  position: relative;
  padding: 2em;
  text-align: center;
}

.elementTest__divWithBg:after {
  background-color: var(--bgGrey);
  mask-image: url(~assets/danger-11.svg);
  background-size: contain;

  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.elementTest__img {
  width: 80%;
  margin: 1em;
}

.elementTest__figureImg {
  width: 15em;
  margin: 1em;
}

.svgSprite.elementTest__figureImg {
  height: 15em;
  fill: salmon;
}

.elementTest__toggleButton {
  width: 2em;
  transform: rotate(-30deg);
  margin: 0.2em;
}

.elementTest__svgImageButtonTest {
  width: 2em;
  height: 2em;
}

.elementTest__sock-btn {
  width: 3em;
  height: 3em;
  background-image: url(~assets/icons8-socks.png);
  background-size: cover;
  transform: rotate(30deg);
  margin: 0.8em;
}
